@use './animations' as *;

@mixin panelNameSettings {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 300;
}

$apps_panel_height: 540px;
$apps_page_height: 380px;
$app_color: #f7f7f7;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.remake-box {
	position: absolute;
	width: 100%;
	// height: 300px;
	padding: 1rem;
	transform: translateY(-105%);
	transition: transform 2s;
	background-color: yellow;
	border: 3px solid black;
	opacity: 1;
	z-index: 20;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;

	&__web {
		font-size: 3rem;
	}

	&__btn {
		padding: .5rem 1.1rem;
		margin-top: 2rem;
		font-size: 1.6rem;
		border-radius: 8px;
		cursor: pointer;
		background-color: rgb(246, 246, 108);
		// transition: background-color .6s;
		transition: box-shadow 0.6s, padding 0.6s;
		
		box-shadow: 5px 5px 10px rgb(5, 5, 5);

	}
	&__btn:hover {
		box-shadow: 2px 2px 4px rgb(5, 5, 5);
		padding: 1.5rem 2rem;
	}
}

.box-active {
	transform: translateY(90px);
}


// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	// overflow: hidden;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		// border: 1px solid rgba(255, 255, 255, 0.5);
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 30px;
		height: 20px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		// background-color: rgb(248, 245, 245);
		transition: width 0.3s;
		background-color: rgb(0, 0, 0);
	}

	&__bars {
		width: 100%;
		&::after {
			top: 10px;
			width: 60%;
		}
		&::before {
			top: 20px;
			width: 30%;
			transition: width 0.3s 0.1s;
		}
	}
}

.nav {
	display: none;
	position: fixed;
	top: 105px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	z-index: 5;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;
	&__items {
		padding: 1rem 2rem;
		span {
			transition: font-weight 0.5s;
			text-transform: capitalize;
		}
	}

	&__item {
		position: relative;
		margin: 0 1rem;
		padding: 0.5rem;
		transition: background-color 1s;
		color: black;
		text-decoration: none;
		font-size: 2rem;
	}

	&__item:hover {
		background-color: rgb(0, 0, 0);
		color: white;
		span {
			font-weight: bold;
		}
	}
}

.nav-mobile {
	position: fixed;
	left: -105%;
	top: 100px;
	// top: 130;
	width: 100%;
	height: 200px;
	background-color: white;
	z-index: 5;
	transition: left 0.3s linear;

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid black;
	}

	&--active {
		left: 0;
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	left: 50%;
	transform: translate(-50%);
	line-height: 100px;

	color: white;
	background-color: rgb(0, 0, 0);
	z-index: 4;
	&__hero-img {
		// position: absolute;
		// display: flex;
		padding-left: 5%;
		p {
			display: none;
			position: absolute;
			left: 20px;
			font-size: 7rem;
			animation: moveApple 120s infinite linear;
		}
	}
	&__hero-title {
		// justify-content: center;
		text-align: left;

		letter-spacing: 3px;
		font-size: 4rem;
		span {
			font-size: 1.6rem;
		}
	}
}

// =======================
// index
// =======================

.main {
	.section:nth-child(odd) {
		background-color: rgb(252, 253, 248);
	}
	.section:nth-child(even) {
		background-color: rgb(231, 231, 231);
	}
}

.welcome {
	position: relative;
	// top: 150px;
	width: 100%;
	// height: 500px;
	padding: 16rem 4rem 6rem;
	// background-color: rgb(252, 253, 248);
	&__box {
		// position: absolute;
		position: relative;

		// left: 0;
		width: 100%;
		// background-color: lightgray;
		padding: 2rem;
		box-shadow: 2px 5px 10px rgb(82, 82, 82);
		border-radius: 8px;
		background-color: white;
	}

	&__text {
		position: relative;
		font-size: 2rem;

		&--item1 {
			font-size: 3.5rem;

			span {
				text-transform: capitalize;
			}
		}
		&--item2 {
			font-style: italic;
			span {
				left: 50px;
			}
		}
		&--item3 {
			width: 90%;
			margin-top: 2rem;
			text-align: right;
			font-weight: bold;
			font-size: 2.5rem;
			font-style: italic;
		}
	}
}

.underline {
	&__one {
		position: relative;
		width: 380px;
		height: 1px;
		margin-bottom: 3rem;
		background-color: black;
		left: 50%;
		transform: translateX(-50%);

		&--apps {
			width: 160px;
		}

		&--help {
			width: 110px;
			height: 1px;
		}
		&--contact {
			width: 120px;
			height: 1px;
		}
	}
}

.news {
	position: relative;
	width: 100%;
	//  height: 100vh;
	// background-color: rgb(231, 231, 231);
	padding: 4rem 4rem 10rem;

	h2 {
		@include panelNameSettings();
	}

	&__box {
		position: relative;
		width: 100%;
		background-color: rgb(231, 231, 231);
	}
	&__cards {
		position: relative;
		width: 320px;
		// height: 330px;
		margin: 10px 10px;
		// padding: 10px;
		box-shadow: 3px 5px 10px black;
		background-color: white;
		font-size: 2rem;
		&--img {
			position: relative;
			left: 50%;
			top: 20px;
			transform: translate(-50%);
			width: 90%;
			aspect-ratio: calc(0.6);
		}

		&--name-one {
			text-align: center;
			margin: 40px auto 10px;
		}
	}

	&__cards-additional-background {
		position: relative;
		left: 50%;
		top: 20px;
		transform: translate(-50%);
		width: 90%;
		aspect-ratio: calc(0.6);
		img {
			aspect-ratio: calc(1);
		}

	}
}

.help {
	position: relative;
	width: 100%;
	padding: 4rem 4rem 10rem;

	&__title {
		// text-align: center;
		// font-size: 3.5rem;
		// font-weight: 300;
		@include panelNameSettings();
	}
	&__info {
		text-align: center;
		font-size: 2rem;
	}
}

.contact {
	position: relative;
	width: 100%;
	padding: 4rem 4rem 10rem;
	&__title {
		@include panelNameSettings();
	}

	&__info {
		text-align: center;
		font-size: 2rem;
	}
}

// ================
// APPS
// ================
.big-letters {
	text-transform: uppercase;
}
.bold-letters {
	font-weight: bold;
}
.underline-letters {
	text-decoration: underline;
}

.underline-long {
	width: 100%;
	height: 1px;
	background-color: black;
}

hr {
	margin: 2rem auto;
}

.update-title-compatibility {
	margin: 2rem auto 0;
}

.collection {
	padding: 18rem 0 2rem;
	text-align: center;

	h1 {
		font-size: 4rem;
		font-weight: 200;
		margin-bottom: 0;
	}
}

.apps {
	position: relative;
	// margin-top: 1rem;
	// padding: 1rem;

	&__panel {
		position: relative;
		// height: $apps_panel_height;
		padding: 5rem 4rem;
		overflow: hidden;
	}

	&__panel:nth-child(even) {
		background-color: rgb(226, 222, 222);
	}
	&__panel:nth-child(odd) {
		background-color: rgb(243, 243, 243);
	}

	&__description-left {
		position: relative;

		width: 250px;
		height: $apps_page_height;
		margin: 0 2rem 2rem 0;
		float: left;
		background-color: rgb(255, 255, 255);
		z-index: 1;

		&--app-five {
			margin: 0 2rem 6rem 0;
		}
	}

	// &__description-left:hover &__page-one {
	// 	transform: translateY(340px);
	// }

	&__page-one {
		display: flex;
		flex-direction: column;
		position: absolute;

		width: 250px;
		height: $apps_page_height;
		padding: 2rem;

		background-color: white;
		box-shadow: 2px 2px 8px grey;
		transition: transform 1s;
		z-index: 2;

		&--app-five {
			height: 430px;
		}
	}

	// &__page-one-move {
	// 	// transform: translateY(340px);
	// 	color: red;
	// }

	&__page-one-img {
		position: relative;
		height: 220px;
		margin-bottom: 2rem;
		background-position: center;
		background-size: cover;

		&--app-one {
			background-image: url('../img/AMB_120a.png');
		}
		&--app-two {
			// height: 40px;

			background-image: url('../img/ambus320.png');
		}
		&--app-three {
			background-image: url('../img/saferoad320.png');
		}
		&--app-four {
			background-image: url('../img/bryly114.jpg');
			height: 240px;
			margin-bottom: 0;
		}
		&--app-five {
			background-image: url('../img/IkonaUE_114.png');
		}
	}

	.apps__page-one-move {
		transform: translateY(340px);
		// color: red;
	}

	&__page-two {
		position: absolute;
		width: 100%;
		padding: 3rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -60%);
		text-align: left;
		z-index: 1;
	}

	&__page-one-arrow--up {
		display: none;
		left: 45%;
		transform: translateX(-50%);
	}

	&__title {
		margin-top: 1rem;
		text-align: center;
		// margin-top: 3rem auto;
		font-weight: bold;
		font-size: 2.5rem;
	}

	&__specification-table {
		margin-top: 1rem;
		list-style-type: none;
	}

	&__page-arrow {
		color: black;
		position: relative;
		align-self: center;
		margin-top: 3rem;
		border: none;
		background: none;
		animation: moveArrow 5s infinite;
		transform: rotateZ(-30deg);
		cursor: pointer;
		font-size: 3rem;
	}
	


	&__description-right {
		position: relative;
		text-align: left;
		background-color: transparent;
		z-index: 0;
	}
}




.footer {
	position: relative;
	background-color: white;
	padding: 1rem;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

// ========================
// MEDIA
// ========================


@media (min-width: 576px) {
	.remake-box {
		padding: 2rem;
		font-size: 3rem;
		font-weight: bold;
		&__web {
			font-size: 4rem;
		}
		&__btn {
			padding: 1.5rem 2.1rem;
			margin-top: 3rem;
			font-size: 2rem;
			border-radius: 8px;
		}
	}
}

@media (min-width: 644px) {
	.apps {
	&__page-one-arrow--up {
		display: block;
	}
}
}


@media (min-width: 768px) {

	.box-active {
		transform: translateY(0);
	}

	.header {
		&__hero-img {
			padding-left: 0;
			p {
				display: block;
			}

			span {
				font-size: 3rem;
			}
		}
		&__hero-title {
			font-size: 6rem;
			text-align: center;
		}
	}

	.nav {
		display: block;
	}

	.burger-btn {
		display: none;
	}

	.welcome {
		padding: 28rem 4rem 14rem;
		&__text {
			&--item1 {
				font-size: 4rem;
			}
		}
	}

	.news {
		h2 {
			font-size: 4rem;
		}

		.underline {
			height: 4px;
		}
	}
}

@media (min-width: 1200px) {
	.footer {
		width: 1200px;
		align-items: center;
		left: 50%;
		transform: translate(-50%);
	}
}
