@mixin navBtn {
	position: absolute;
	content: '';
	top: 0;
	width: 10px;
	height: 100%;
	background-image: linear-gradient(
		rgb(218, 217, 217),
		white,
		white,
		rgb(223, 222, 222),
		grey
	);
}



*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.6rem;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	// overflow: hidden;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		// border: 1px solid rgba(255, 255, 255, 0.5);
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		// background-color: rgb(248, 245, 245);
		transition: width 0.3s;
		background-color: rgb(0, 0, 0);
	}

	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition: width 0.3s 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 105px;
	width: 100%;
	z-index: 5;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;
	&__items {
		padding: 1rem 2rem;
		span{
			transition: font-weight .5s;
			text-transform: capitalize;
		}
	}

	&__item {
		position: relative;
		text-decoration: none;
		margin: 0 1rem;
		background-image: linear-gradient(
			rgb(218, 217, 217),
			white,
			white,
			rgb(223, 222, 222),
			grey
		);
		color: black;
		font-size: 2rem;
		
	}

	&__item:hover {
		span{
			font-weight: bold;
		}
	}

	&__item::before {
		left: -10px;
		@include navBtn();
		transition: width .3s, left .3s;
	}
	&__item::after {
		right: -10px;
		@include navBtn();
		transition: width .3s, right .3s;
	}
	

	&__item:hover::after {
		right: -5px;
		width: 5px;
	}

	&__item:hover::before {
		left: -5px;
		width: 5px;
	}

}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;

	color: white;
	background-color: rgb(0, 0, 0);
	z-index: 4;
	&__hero-img {
		// position: absolute;
		// display: flex;
		p {
			position: absolute;
			left: 20px;
			font-size: 7rem;
		}
	}
	&__hero-title {
		// justify-content: center;
		text-align: center;
		font-size: 6rem;
		letter-spacing: 3px;
		span {
			font-size: 3rem;
		}
	}
}



section {
	scroll-margin-top: 130px;
}

.welcome {
	position: relative;
	// top: 150px;
	width: 100%;
	// height: 500px;
	padding: 19rem 4rem 4rem;
	background-color: rgb(252, 253, 248);
	&__box {

		left: 0;
		width: 100%;

		padding: 2rem;
		box-shadow: 2px 5px 10px rgb(82, 82, 82);
		border-radius: 8px;
		z-index: 6;
	}

	&__text {
		position: relative;
		font-size: 2rem;
		

		&--item1 {
			font-size: 4rem;

			span {
				text-transform: capitalize;
			}
		}
		&--item2 {
			font-style: italic;
			span {
				left: 50px;
			}
		}
		&--item3 {
			width: 90%;
			margin-top: 2rem;
			text-align: right;
			font-weight: bold;
			font-size: 2.5rem;
		}
	}
}
.apps {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: green;
}
